@import '../../../Styles/index.scss';

.graphics-root-container {
  display:block;
  width:100%;
  text-align:center;

  h3 {
    margin: 20px;
  }

  .pixi-container {
    display:flex;
    justify-content: center;

    canvas {
      border:1px solid #ebebeb;
    }
  }
}